body {
	background: #ffffff url("../assets/pattern-stars.png");
}

.parallax-1 {
	background: url("../assets/pattern-planets.png");
}

.parallax-2 {
        background: url("../assets/pattern-800-800.png");
}

.astronauta {
}

.astro-foto {
    margin-right: 15px;
}

.astro-opis {
    margin-bottom: 25px;
}

.galeria {
    margin: 20px 20px 20px 20px;
}

#map-canvas {
    width: 800px;
    height: 400px;
}
