{% extends "base.html" %}
{% block title %}- Załoga {% endblock %}
{% block content %}
      <div class="container">

        <br />
        <br />
        <br />
        <br />
        <div class="row">
          {% for name, desc in team.items() %}
          <div class="col-md-4">
            <img class="pull-left astro-foto responsive" src="http://placehold.it/100x100" width="100" height="auto">
            <h4 class="astronauta">{{ name }}</h4>
            <p>{{ desc }}</p>
          </div>
          {% endfor %}
        </div>
      </div><!-- /.container -->
{% endblock %}
